:root {
    --main-colour: white;
    --secondary-colour: #040D12;
    --tertiary-colour: #183D3D;
    --quaternary-colour: #5C8374;
    --quinary-colour: #93B1A6;
    --font-size-large: 25px;
    --font-size-medium: 15px;
    --font-size-small: 10px;
    --border-radius: 10px;
    --box-shadow: 10px 10px #183d3d;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    src: url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);
    background-color: var(--secondary-colour);
    margin-top: 5px;
    margin-bottom: 5px;
}

header {
    background-image: url("http://cdn.pixabay.com/photo/2016/11/30/20/58/programming-1873854_960_720.png");
    color: var(--main-colour);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    top: 5px;
    left: 10px;
    right: 10px;
    padding: 50px;
    margin-top: 0 auto;
    text-align: center;
    border-radius: var(--border-radius);

}

footer {
    font-size: var(--font-size-small);
    background: var(--secondary-colour);
    color: var(--main-colour);
    padding: 10px;
    position: static;
    text-align: center;
    margin-bottom: 0 auto;
    top: 5px;
    border-radius: var(--border-radius);
}

.title-bar {
    padding: 5px 0;
    font-family: "Lucida Grande", sans-serif;
    font-size: 0.75em;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
    background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
    background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
    box-shadow: inset rgba(255, 255, 255, 0.7) 0px 1px 1px;
    border-bottom: #6a6a6a 1px solid;
}

.text-terminal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.terminal {
    background: #040D12;
    width: 60%;
    padding: 15px 15px 60px;
    border-radius: 8px;
    border-top: 20px solid var(--quinary-colour);
}

.terminal-body {
    font-size: var(--font-size-medium);
    color: var(--main-colour);
    text-align: left;
}

h1 {
    text-align: center;
}

.typed-cursor {
    color: var(--quinary-colour);
}


.navbar {
    background-color: var(--tertiary-colour);
    display: inline;
    overflow: hidden;
    border: var(--quinary-colour);
    border-width: 2px;
    border-radius: var(--border-radius);
    padding: 10px;

}

.navbar a {
    align-items: center;
    margin: 10px;
    color: var(--main-colour);
    text-decoration: none;
    text-align: center;
    padding: 10px;
    width: 20px;
    font-size: var(--font-size-medium);
    border: var(--quinary-colour);
    border-width: 2px;
}

.navbar a:hover {
    transition-duration: 0.4s;
    background-color: var(--quinary-colour);
    box-shadow: 0 9px 8px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}


h3 {
    font-size: var(--font-size-large);
    color: var(--main-colour);
}

.about {
    background-color: var(--tertiary-colour);
    color: var(--main-colour);
    padding: 10px;
    margin: 10 auto;
    border-radius: var(--border-radius);
}

.project-container {
    display: grid;
    grid-template-rows: 3;
    background: var(--quaternary-colour);
    color: var(--main-colour);
    padding: 10px;
    margin: 10 auto;
    border-radius: var(--border-radius);
}

.project-item {
    border-style: solid;
    border-width: 2px;
    border-color: var(--secondary-colour);
    border-radius: var(--border-radius);

    padding: 5px;
    gap: 10px;
    width: 90%;
    margin: 10px;
    box-shadow: var(--box-shadow);
    display: flex;
    vertical-align: top;
    text-align: left;
}

.project-button {
    background-color: var(--tertiary-colour);
    color: var(--main-colour);
    border: none;
    border-radius: var(--border-radius);
    font-size: var(--font-size-medium);
    text-decoration: none;
    display: inline-block;
    padding: 10px 10px;
    width: 30%;

}

.project-button:hover {
    transition-duration: 0.4s;
    background-color: var(--quinary-colour);
    box-shadow: 0 9px 8px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

h4 {
    font-size: var(--font-size-large);
    text-align: left;
}

.contact {
    background-color: var(--tertiary-colour);
    color: var(--main-colour);
    padding: 10px;
    margin: 10 auto;
    text-align: center;
    border-radius: var(--border-radius);
}

input {
    width: 40%;
    padding: 5px;
    margin: 2px;
    box-sizing: border-box;
}

.formbutton {
    background-color: var(--quaternary-colour);
    color: var(--main-colour);
    border: none;
    border-radius: var(--border-radius);
    font-size: var(--font-size-medium);
    text-decoration: none;
    display: inline-block;
    padding: 10px 10px;
    width: 30%;
}

.formbutton:hover {
    transition-duration: 0.4s;
    background-color: var(--quinary-colour);
    box-shadow: 0 9px 8px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    body {
        display: block;
    }
}